*{
    margin: 0px;
    padding: 0px;
    background-color: #ADD8E6;
}

header{
    padding: 30px 70px;
    background-color: #4682B4;
}

header h1{
    font-size: 50px;
    text-align: center;
    background-color: #4682B4;
    color: whitesmoke;
}

nav ul{
    border-bottom: solid 3px white;
    border-top: solid 3px white;
    margin-bottom: 30px;
}

nav ul li{
    display: inline-block;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

article.introdução p{
    display: inline;

}

.imagem1{
    width: 300px;
    text-align: center;
    margin: auto;
    display: block;
}

.imagem2{
    width: 350px;
    float: left;
    margin: 30px;
    margin-top: 70px;
}

#introdução{
    margin: 30px;
    margin-bottom: 60px;
}

#fatos-cientificos h3{
    text-align: center;
    margin-bottom: 10px;
}

#fatos-cientificos ul{
    margin: 50px;
    margin-top: 20px;
    display: inline-block;
}

#video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#descrição h3{
    text-align: center;
    margin: 20px;
}

#descrição p{
    text-align: justify;
    margin: 30px;
}

.button{
    text-decoration: none;
    text-transform: uppercase;
}

#super-powers {
    margin: 30px;
    text-align: center;
    display: inline-block;
    
}

.cartoon-image {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.super-powers-text{
    line-height: 40px;
    text-align: justify;
    width: 700px;
}

.super-powers-title1{
    margin: 30px 10px 30px 10px;
    text-align: center;
    text-decoration: underline;
}

.super-powers-title{
    margin: 60px 10px 30px 10px;
    text-align: center;
    text-decoration: underline;
}

footer{
    background-color: #4682B4;
    height: 40px;
}

footer section p{
    color: white;
    background-color: #4682B4;
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
}

#rf{
    text-align: center;
    margin-top: 30px;
}

.rf{
    text-align: center;
    margin: 30px 50px;
}